<div class="header bg-warm-blue pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-white d-inline-block mb-0">Pengurusan</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class=" fas fa-tasks"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="row mb-2">
                <div class="col">
                    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                        <div class="form-group mb-0" [ngClass]="{ focused: focusSearch === true }">
                            <div class="input-group input-group-alternative input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input
                                    class="form-control" 
                                    placeholder="Carian" 
                                    type="text" 
                                    (focus)="focusSearch = true"
                                    (blur)="focusSearch = false" 
                                    (keyup)="filterTable($event.target.value)" 
                                />
                            </div>
                        </div>
                        <button
                            type="button" 
                            class="close" 
                            (click)="closeSearch()" 
                            data-action="search-close"
                            data-target="#navbar-search-main"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">×</span>
                        </button>
                    </form>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
					<div class="row align-items-center">
						<div class="col">
							<h4 class="mb-0 text-dark">Senarai pengguna</h4>
						</div>
						<div class="col-auto">
                            <button class="btn btn-icon btn-sm btn-2 btn-dark text-secondary" type="button" (click)="refresh()">
                                <span class="btn-inner--icon"><i class="fas fa-sync"></i> Ulangmuat</span>
                            </button>
                        </div>
					</div>
				</div>

                <div class="table-responsive">
                    <table mat-table [dataSource]="tableSource" class="table table-flush" matSort>

                        <ng-container matColumnDef="full_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nama penuh </th>
                            <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Emel </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. telefon </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                        </ng-container>

                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Jabatan </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.department == 'KW'">
                                    Kawalan Bangunan
                                </div>
                                <div *ngIf="element.department == 'KN'">
                                    Kejuruteraan
                                </div>
                                <div *ngIf="element.department == 'KK'">
                                    Kesihatan, Persekitaraan dan Pelesenan
                                </div>
                                <div *ngIf="element.department == 'PB'">
                                    Perbendaharaan
                                </div>
                                <div *ngIf="element.department == 'PP'">
                                    Penilaian dan Pengurusan Harta
                                </div>
                                <div *ngIf="element.department == 'UU'">
                                    Undang-undang
                                </div>
                                <div *ngIf="element.department == 'KP'">
                                    Khidmat Pengurusan
                                </div>
                                <div *ngIf="element.department == 'KM'">
                                    Khidmat Kemasyarakatan
                                </div>
                                <div *ngIf="element.department == 'KW'">
                                    Konservasi Warisan
                                </div>
                                <div *ngIf="element.department == 'PB'">
                                    Pesuruhjaya Bangunan
                                </div>
                                <div *ngIf="element.department == 'PG'">
                                    Penguatkuasaan
                                </div>
                                <div *ngIf="element.department == 'PN'">
                                    Perkhidmatan Perbandaran
                                </div>
                                <div *ngIf="element.department == 'LL'">
                                    Lanskap
                                </div>
                                <div *ngIf="element.department == 'BP'">
                                    Bahagian Pelesenan
                                </div>
                                <div *ngIf="element.department == 'UD'">
                                    Unit Audit Dalaman
                                </div>
                                <div *ngIf="element.department == 'UO'">
                                    Unit OSC
                                </div>
                                <div *ngIf="element.user_type == 'OT'">
                                    Lain-lain
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="user_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Jenis pengguna </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.user_type == 'TR'">
                                    Penceramah
                                </div>
                                <div *ngIf="element.user_type == 'ST'">
                                    Kakitangan
                                </div>
                                <div *ngIf="element.user_type == 'DC'">
                                    Penyelaras Jabatan
                                </div>
                                <div *ngIf="element.user_type == 'TC'">
                                    Penyelaras Latihan
                                </div>
                                <div *ngIf="element.user_type == 'AD'">
                                    Administrator
                                </div>
                                <div *ngIf="element.user_type == 'OT'">
                                    Lain-lain
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td mat-cell *matCellDef="let element" class="text-right">
                                <button class="btn btn-icon btn-2 btn-primary btn-sm" type="button" (click)="openModal(viewUser, element)">
                                    <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewUser let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header bg-default">
            <h6 class="modal-title text-white my-auto" id="modal-title-default">Informasi pengguna</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true" class="text-white my-auto">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-default">
                            <i class="far fa-address-card fa-fw text-white"></i>
                        </span>
                    </div>
                    <input 
                        class="form-control" 
                        placeholder="Nama" 
                        type="text"
                        [value]="tempUser.full_name"
                        disabled
                    />
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-default">
                            <i class="far fa-id-card fa-fw text-white"></i>
                        </span>
                    </div>
                    <input 
                        class="form-control" 
                        placeholder="NRIC" 
                        type="text"
                        value="tempUser.new_nric"
                        disabled
                    />
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-default">
                            <i class="far fa-envelope-open fa-fw text-white"></i>
                        </span>
                    </div>
                    <input 
                        class="form-control" 
                        placeholder="Emel" 
                        type="email" 
                        value="tempUser.email"
                        disabled
                    />
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-default">
                            <i class="fas fa-phone-square fa-fw text-white"></i>
                        </span>
                    </div>
                    <input 
                        class="form-control" 
                        placeholder="No. tel" 
                        type="text" 
                        [value]="tempUser.phone"
                        disabled
                    />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-default">
                            <i class="fas fa-user-shield fa-fw text-white"></i>
                        </span>
                    </div>
                    <select 
                        class="custom-select form-control"
                        [value]="tempUser.user_type"
                        disabled
                    >
                        <option value="AP">Applicant</option>
                        <option value="EV">Evaluator</option>
                        <option value="AD">Administrator</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button 
                type="button"
                class="btn btn-default ml-auto" 
                data-dismiss="modal"
                (click)="closeModal()"
            >
                Tutup
            </button>
        </div>
    </div>
</ng-template>