<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Laporan Kehadiran Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard text-white"></i></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4 class="m-0">Sejarah Kursus</h4>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm btn-icon" (click)="printHistory()">
                                <i class="fas fa-print text-white"></i>
                                Cetak
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"></label>
                    <input (keyup)="applyFilter($event)" placeholder="Ex. ium" type="date" class="form-control">
                </div>
                <div class="table-responsive">
                    <table mat-table [dataSource]="tableSource" class="table table-flush" matSort>

                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod Kusus </th>
                            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                        </ng-container>


                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tajuk Kusus </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="start_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarikh Mula </th>
                            <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="end_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarikh Tamat </th>
                            <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.status == 'DB'">
                                    <span class="badge badge-success">Dibuka</span>
                                </div>
                                <div *ngIf="element.status == 'DT'">
                                    <span class="badge badge-danger">Ditutup</span>
                                </div>
                                <div *ngIf="element.status == 'PN'">
                                    <span class="badge badge-primary">Penuh</span>
                                </div>
                                <div *ngIf="element.status == 'TN'">
                                    <span class="badge badge-warning">Tangguh</span>
                                </div>
                                <div *ngIf="element.status == 'OT'">
                                    <span class="badge badge-info">Lain-lain</span>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Jenis pengguna </th>
                            <td mat-cell *matCellDef="let element">
                                <button type="button" class="btn btn-primary btn-sm" (click)="viewDetails(id)">Lihat</button>
                                <div>
                                    <button type="button" class="btn btn-info btn-sm" (click)="reporting()">Penilaian kursus</button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>