<div class="container-fluid">
	<footer class="footer">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-xl-6">
				<div class="copyright text-center text-xl-left text-muted">
					&copy; {{ currentDate | date: "yyyy" }}
					Hak cipta terpelihara © 
					<a
						href="https://elatihan.mbpp.gov.my"
						class="font-weight-bold ml-1"
						target="_blank"
					>
						Majlis Bandaraya Pulau Pinang
					</a>
                </div>
                <div class="copyright text-center text-xl-left text-muted">
                    Paparan terbaik menggunakan Chrome versi 69 dan ke atas, 
                    Firefox versi 61 dan ke atas, Safari versi 11 dan ke atas,
                    Opera versi 54 dan ke atas, dan Edge versi 16 dan ke atas.
				</div>
			</div>
		</div>
	</footer>
</div>