<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Peperiksaan</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard-teacher text-white"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Maklumat</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-custom-gray">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="mb-0">Maklumat Peperiksaan</h4>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-custom-blue btn-sm"><i class="fas fa-save text-white mr-2"></i>Simpan</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Nama Peperiksaan
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Kod Peperiksaan
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Tarikh Mula
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Tarikh Tamat
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Waktu Mula
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Waktu Tamat
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Jumlah Peserta
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Tempat
                                </label>
                                <input class="form-control form-custom-input" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>