<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Butiran Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard text-white"></i></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-custom-gray">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="mb-0">Butiran Kursus</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <h6 class=" heading-small text-muted mb-4">Informasi</h6>
                        <div class="form-group">
                            <label class="form-control-label">
                                Tajuk
                            </label>
                            <input 
                                class="form-control"
                                value="Kursus Ketepatan Masa"
                                disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">
                                Penerangan
                            </label>
                            <textarea 
                                class="form-control"
                                value="Kursus ini berkaitan dengan ketepatan masa"
                                disabled>
                            </textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Kategori
                                    </label>
                                    <input 
                                        class="form-control"
                                        value="Dalaman"
                                        disabled />
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Kod
                                    </label>
                                    <input 
                                        class="form-control"
                                        disabled
                                        value="KG1/1" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Penganjur Kursus
                                    </label>
                                    <input 
                                        class="form-control" 
                                        disabled
                                        value="(PABWH) Penganjur ABWH" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Had Peserta
                                    </label>
                                    <input 
                                        class="form-control"
                                        value="20"
                                        disabled />
                                </div>
                            </div>
                        </div>
                        
                        <h6 class=" heading-small text-muted mb-4">Jadual</h6>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Tarikh Mula
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input 
                                            type="text"
                                            class="form-control" 
                                            disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Masa Mula
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input 
                                            class="form-control" 
                                            type="time"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Tarikh Tamat
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input 
                                            type="text"
                                            class="form-control"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Masa Tamat
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input 
                                            class="form-control" 
                                            type="time"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Tempat
                                    </label>
                                    <input 
                                        class="form-control"
                                        value="Dewan Utama MBPP"
                                        disabled />
                                </div>
                            </div>
                        </div>
                        <h6 class=" heading-small text-muted mb-4">Penceramah/Fasilitator</h6>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Penceramah
                                    </label>
                                    <input 
                                        class="form-control"
                                        value="Dr. Husaini Nazri"
                                        disabled />
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Fasilitator
                                    </label>
                                    <input 
                                        class="form-control"
                                        value="Amin Redzuan"
                                        disabled />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalQR>
    <div class="modal-header bg-secondary">
        <h6 class="modal-title m-0" id="modal-title-default">
            QR Code Kehadiran
        </h6>

        <button aria-label="Close" class="close m-0 p-0" data-dismiss="modal" type="button"
            (click)="defaultModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>

    <div class="modal-body pb-0 px-0 text-center">
        <img src="assets/img/photo/qr.png" class="text-center mx-auto">
    </div>

    <div class="modal-footer mt-2">
        <!--<button class="btn btn-primary" type="button">
            Tambah
        </button>-->

        <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            Tutup
        </button>
    </div>
</ng-template>
