<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard-teacher text-white"></i></a>
                            </li> 
                            <li aria-current="page" class=" breadcrumb-item active">
                                Maklumat
                            </li>
                            <li aria-current="page" class=" breadcrumb-item active">
                                Pemohon
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-neutral" [routerLink]="['/penyelaras/kursus/maklumat']"> Kembali </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col">
                            <h4 class="m-0">Maklumat Pemohon</h4>
                        </div>
                        <div class="col-auto">
                            <a class=" btn btn-sm btn-custom-blue text-white" (click)="acceptApplication()"> Terima </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-contorl-label">
                            Nama Penuh
                        </label>
                        <input class="form-control form-control-sm" value="Aminuddin Azmi" disabled>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-contorl-label">
                                    Jantina
                                </label>
                                <input class="form-control form-control-sm" value="Lelaki" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-contorl-label">
                                    NRIC
                                </label>
                                <input class="form-control form-control-sm" value="890101095234" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-contorl-label">
                                    Jabatan
                                </label>
                                <input class="form-control form-control-sm" value="Jabatan" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-contorl-label">
                                    Jawatan
                                </label>
                                <input class="form-control form-control-sm" value="Pegawai Tadbir" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-contorl-label">
                                    No. Tel
                                </label>
                                <input class="form-control form-control-sm" value="017828181" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-contorl-label">
                                    Emel
                                </label>
                                <input class="form-control form-control-sm" value="am@mbpp.gov.my" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>