<ngx-loading-bar height="4px"></ngx-loading-bar>
<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-12">
					<h2 class="text-dark">Selamat datang, {{user?.full_name}}!</h2>
				</div>
				<div class="col-lg-6 col-sm-12">
					<h6 class="h2 text-dark d-inline-block mb-0">Dashboard Kakitangan</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-6 col-sm-12 text-right">
					<!-- <a class="btn btn-sm btn-warm-blue" (click)="openModal(achievementModal)">
						<div>
							<i class="fas fa-exclamation-circle text-white"></i> 
							<span class="text-white">Pencapaian</span>
						</div>
					</a> -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<!-- Summary -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Ringkasan Peribadi</h4>
                </div>
                <div class="card-body text-center">
                    <div class="row">
						<div class="col-sm-12 col-lg-6 mb-2">
							<ngx-gauge 
								[type]="gaugeType" 
								[value]="totalTrainings" 
								[label]="gaugeLabelApplied"
								[append]="gaugeTrainingsAppend"
								[thresholds]="gaugeConfig"
							>
							</ngx-gauge>
							<ngx-gauge
								[type]="gaugeType" 
								[value]="totalExams" 
								[label]="gaugeLabel"
								[append]="gaugeExamsAppend"
								[max]="gaugeMax"
								[thresholds]="gaugeConfig"
							>
							</ngx-gauge>
							<ngx-gauge
								[type]="gaugeType" 
								[value]="totalDays" 
								[label]="gaugeLabel"
								[append]="gaugeDaysAppend"
								[max]="gaugeMax"
								[thresholds]="gaugeConfig"
							>
							</ngx-gauge>
						</div>

						<div class="col-sm-12 col-lg-6">
							<ul class="list-group list-group-flush list my--3">
								<li class="list-group-item px-1 card-achievement" *ngIf="totalDays >= 5">
									<div class="row align-items-center">
										<div class="col-auto">
											<a class="ml-2 avatar rounded-circle bg-transparent">
												<img
													alt="Latihan"
													[src]="iconTraining"
												/>
											</a>
										</div>
					
										<div class="col">
											<h4 class="mb-0">
												<span> Tahniah anda telah mencapai keperluan 5 hari berkursus! </span>
											</h4>
										</div>
									</div>
								</li>
					
								<li class="list-group-item px-1 card-achievement" *ngIf="totalExams >= 5">
									<div class="row align-items-center">
										<div class="col-auto">
											<a class="ml-2 avatar rounded-circle bg-transparent">
												<img
													alt="Peperiksaan"
													[src]="iconExam"
												/>
											</a>
										</div>
					
										<div class="col">
											<h4 class="mb-0">
												<span> Tahniah anda telah mencapai keperluan 5 hari peperiksaan! </span>
											</h4>
										</div>
									</div>
								</li>
					
								<li class="list-group-item px-1 card-achievement" *ngIf="totalDays <= 4 && totalExams <= 4">
									<div class="row align-items-center">
										<div class="col-auto">
											<a class="ml-2 avatar rounded-circle bg-transparent">
												<img
													alt="Pencapaian"
													[src]="iconError"
												/>
											</a>
										</div>
					
										<div class="col">
											<h4 class="mb-0">
												<span> Maaf, tiada rekod pencapaian setakat ini. </span>
											</h4>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
                </div>
            </div>
        </div>
	</div>
	<!-- Applications -->
	<div class="row">
		<div class="col">
			<div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Senarai Permohonan</h4>
                </div>
                <div class="dataTables_wrapper py-4">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="dataTables_length" id="datatable_length">
								<label>
									Lihat
									<select 
										name="datatable_length" 
										aria-controls="datatable" 
										class="form-control form-control-sm custom-select custom-select-sm"
										(change)="entriesChange($event)"
									>
										<option value="5" [selected]="tableEntries == 5">5</option>
										<option value="10" [selected]="tableEntries == 10">10</option>
										<option value="15" [selected]="tableEntries == 15">15</option>
										<option value="-1" [selected]="tableEntries == -1">Semua</option>
									</select>
									rekod
								</label>
							</div>
						</div>
						
						<div class="col-sm-12 col-md-6">
							<div id="datatable_filter" class="dataTables_filter">
								<label>
									<input 
										type="search"
										class="form-control form-control-sm"
										placeholder="Cari rekod"
										aria-controls="datatable"
										(keyup)="filterTable($event)"
									/>
								</label>
							</div>
						</div>
					</div>
		
					<div class="pt-4 text-center" *ngIf="isEmpty">
						<img [src]="iconEmpty" class="error-icon">
						<p>Tiada rekod dijumpai</p>
					</div>
			
					<ngx-datatable 
						class="bootstrap selection-cell" 
						[columnMode]="'force'" 
						[headerHeight]="50" 
						[footerHeight]="50"
						[rowHeight]="'auto'"
						[limit]="tableEntries != -1 ? tableEntries : undefined" 
						[rows]="tableTemp"
						[messages]="tableMessages"
						(activate)="onActivate($event)"
						*ngIf="!isEmpty"
						[scrollbarH]="true"
					>
						<ngx-datatable-column
							prop="training.title"
						>
							<ng-template ngx-datatable-header-template>
								<span>Latihan</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training.title}}
							</ng-template>
						</ngx-datatable-column>
			
						<ngx-datatable-column
							prop="created_at"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tarikh Daftar</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.created_at | date: 'd/M/y'}}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							prop="training.start_date"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tarikh Mula</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training.start_date | date: 'd/M/y'}}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							prop="training.end_date"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tarikh Tamat</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training.end_date | date: 'd/M/y'}}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							prop="application_type"
						>
							<ng-template ngx-datatable-header-template>
								<span>Jenis</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<span
									*ngIf="row.application_type == 'PS'"
									class="badge badge-pill badge-success"
								>
									Permohonan Persendirian
								</span>
								<span
									*ngIf="row.application_type == 'PP'"
									class="badge badge-pill badge-danger"
								>
									Permohonan Pencalonan
								</span>
							</ng-template>
						</ngx-datatable-column>
			
						<ngx-datatable-column
							prop="status"
						>
							<ng-template ngx-datatable-header-template>
								<span>Status</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<span class="badge badge-success" *ngIf="row.status == 'AP'">Diterima</span>
								<span class="badge badge-danger" *ngIf="row.status == 'RJ'">Ditolak</span>
								<span class="badge badge-warning" *ngIf="row.status == 'RS'">Disimpan</span>
								<span class="badge badge-primary" *ngIf="row.status == 'IP'">Dalam proses</span>
							</ng-template>
						</ngx-datatable-column>
		
						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Aktiviti</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<button 
									class="btn btn-warm-blue"
									(click)="view(row.training.id, row.status)"
								>
									Lihat
								</button>
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
            </div>
		</div>
	</div>
	<!-- Evaluation -->
	<div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Senarai Penilaian Kursus yang Belum Dijawab</h4>
				</div>
				
				<div class="dataTables_wrapper py-4">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="dataTables_length" id="datatable_length">
								<label>
									Lihat
									<select 
										name="datatable_length" 
										aria-controls="datatable" 
										class="form-control form-control-sm custom-select custom-select-sm"
										(change)="entriesChangeEvaluation($event)"
									>
										<option value="5" [selected]="evaluationTableEntries == 5">5</option>
										<option value="10" [selected]="evaluationTableEntries == 10">10</option>
										<option value="15" [selected]="evaluationTableEntries == 15">15</option>
										<option value="-1" [selected]="evaluationTableEntries == -1">Semua</option>
									</select>
									rekod
								</label>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div id="datatable_filter" class="dataTables_filter">
								<label>
									<input 
										type="search"
										class="form-control form-control-sm"
										placeholder="Cari rekod"
										aria-controls="datatable"
										(keyup)="filterTableEvaluation($event)"
									/>
								</label>
							</div>
						</div>
					</div>
		
					<div class="pt-4 text-center" *ngIf="evaluationIsEmpty">
						<img [src]="iconEmpty" class="error-icon">
						<p>Tiada rekod dijumpai</p>
					</div>
			
					<ngx-datatable 
						class="bootstrap selection-cell" 
						[columnMode]="'force'" 
						[headerHeight]="50" 
						[footerHeight]="50"
						[rowHeight]="'auto'"
						[limit]="evaluationTableEntries != -1 ? evaluationTableEntries : undefined" 
						[rows]="evaluationTableTemp"
						[messages]="evaluationTableMessages"
						(activate)="onActivateEvaluation($event)"
						*ngIf="!evaluationIsEmpty"
						[scrollbarH]="true"
					>
						<ngx-datatable-column
							prop="training.title"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tajuk</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training?.title}}
							</ng-template>
						</ngx-datatable-column>
			
						<ngx-datatable-column
							prop="training.course_code"
						>
							<ng-template ngx-datatable-header-template>
								<span>Kod</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training?.course_code}}
							</ng-template>
						</ngx-datatable-column>
			
						<ngx-datatable-column
							prop="training.start_date"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tarikh Mula</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training?.start_date}}
							</ng-template>
						</ngx-datatable-column>
			
						<ngx-datatable-column
							prop="training.end_date"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tarikh Tamat</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training?.end_date}}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							prop="training.organiser_type"
						>
							<ng-template ngx-datatable-header-template>
								<span>Jenis Anjuran</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<span class="badge badge-warning" *ngIf="row.training.organiser_type == 'LL'">Luaran</span>
								<span class="badge badge-primary" *ngIf="row.training.organiser_type == 'DD'">Dalaman</span>
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Aktiviti</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<button 
									class="btn btn-warm-blue"
									(click)="viewEvaluation(row.training)"
								>
									Lihat
								</button>
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
            </div>
        </div>
    </div>
</div>

<ng-template #achievementModal>
    <div class="modal-header bg-warm-blue">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Pencapaian
        </h6>

        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
		<ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-1 card-achievement" *ngIf="totalDays >= 5">
				<div class="row align-items-center">
					<div class="col-auto">
						<a class="avatar rounded-circle bg-transparent">
							<img
								alt="Latihan"
								[src]="iconTraining"
							/>
						</a>
					</div>

					<div class="col">
						<h4 class="mb-0">
							<span> Tahniah anda telah mencapai keperluan 5 hari berkursus! </span>
						</h4>
					</div>
				</div>
            </li>

			<li class="list-group-item px-1 card-achievement" *ngIf="totalExams >= 5">
				<div class="row align-items-center">
					<div class="col-auto">
						<a class="avatar rounded-circle bg-transparent">
							<img
								alt="Peperiksaan"
								[src]="iconExam"
							/>
						</a>
					</div>

					<div class="col">
						<h4 class="mb-0">
							<span> Tahniah anda telah mencapai keperluan 5 hari peperiksaan! </span>
						</h4>
					</div>
				</div>
            </li>

			<li class="list-group-item px-1 card-achievement" *ngIf="totalDays <= 4 && totalExams <= 4">
				<div class="row align-items-center">
					<div class="col-auto">
						<a class="avatar rounded-circle bg-transparent">
							<img
								alt="Pencapaian"
								[src]="iconError"
							/>
						</a>
					</div>

					<div class="col">
						<h4 class="mb-0">
							<span> Maaf, tiada rekod pencapaian setakat ini. </span>
						</h4>
					</div>
				</div>
            </li>
		</ul>
    </div>

    <div class="modal-footer">
        <button
            class="btn btn-outline-warm-blue ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Tutup
        </button>
    </div>
</ng-template>