<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard-teacher text-white"></i></a>
                            </li> 
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-12">
            <div class="row mb-2">
                <div class="col">
                    <form 
                        class="navbar-search navbar-search-light form-inline mr-sm-3" 
                        id="navbar-search-main">
                        <div 
                            class="form-group mb-0" 
                            [ngClass]="{ focused: focusSearch === true }">
                            <div class="input-group input-group-alternative input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input 
                                    class="form-control" 
                                    placeholder="Carian" 
                                    type="text" 
                                    (focus)="focusSearch = true"
                                    (blur)="focusSearch = false" 
                                    (keyup)="filterTable($event)" />
                            </div>
                        </div>
                        <button 
                            type="button" 
                            class="close" 
                            (click)="closeSearch()" 
                            data-action="search-close"
                            data-target="#navbar-search-main" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Senarai Kursus Semasa</h4>
                </div>
                <div class="table-responsive">
                    <table mat-table [dataSource]="tableSource" class="table table-flush" matSort>

                        <ng-container matColumnDef="course_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod Kursus </th>
                            <td mat-cell *matCellDef="let element"> {{element.course_code}} </td>
                        </ng-container>

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tajuk </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="start_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarikh Mula </th>
                            <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="organiser_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Jenis </th>
                            <td mat-cell *matCellDef="let element"> 
                                <span *ngIf="element.organiser_type=='DD'">Dalaman</span>
                                <span *ngIf="element.organiser_type=='LL'">Luaran</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="max_participant">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Peserta </th>
                            <td mat-cell *matCellDef="let element"> {{element.max_participant}} </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td mat-cell *matCellDef="let element" class="text-right">
                                <button class="btn btn-primary btn-sm" type="button" (click)="viewTrainingDetails(element)">
                                    Lihat
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>