<div class="header bg-warm-blue pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-white d-inline-block mb-0">Pengurusan</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class=" fas fa-tasks"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-xl-12">
			<div class="card shadow">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col">
							<h4 class="mb-0 text-dark">Tambah Pengguna</h4>
						</div>
						<div class="col-auto">
							
						</div>
					</div>
				</div>
				<div class="card-body">
					<form [formGroup]="registerForm">
						<div class="form-group">
							<label class="form-control-label">Emel</label>
							<input class="form-control" type="text" placeholder="Sila taip emel pengguna" formControlName="email">
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="form-control-label">Kata laluan</label>
									<input class="form-control" type="text" placeholder="Sila taip kata laluan pengguna" formControlName="password1">
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label class="form-control-label">Ulang kata laluan</label>
									<input class="form-control" type="text" placeholder="Sila ulang kata laluan pengguna" formControlName="password2">
								</div>
							</div>
						</div>
					</form>
					<hr class=" my-4" />
					<form [formGroup]="userForm">
						<div class="form-group">
							<label class="form-control-label">Nama penuh</label>
							<input class="form-control" type="text" placeholder="Sila taip nama penuh pengguna" formControlName="full_name">
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="form-control-label">NRIC</label>
									<input class="form-control" type="text" placeholder="Sila taip NRIC pengguna" formControlName="nric">
								</div>
							</div>
							<div class="col">
								<div class="form-group">
                                    <label class="form-control-label">Jenis pengguna</label>
                                    <select class="form-control custom-select" placeholder="Sila pilih jenis pengguna" formControlName="user_type">
                                        <option value="" selected hidden disabled>Sila pilih jenis pengguna</option>
										<option value="TR">Penceramah</option>
										<option value="ST">Kakitangan</option>
                                        <option value="DC">Penyelaras Jabatan</option>
                                        <option value="TC">Penyelaras Latihan</option>
                                        <option value="AD">Administrator</option>
                                    </select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="form-control-label">Jawatan</label>
									<input class="form-control" type="text" placeholder="Sila taip jawatan pengguna" formControlName="position">
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label class="form-control-label">Gred</label>
									<input class="form-control" type="text" placeholder="Sila taip gred pengguna" formControlName="grade">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
                                    <label class="form-control-label">Jantina</label>
                                    <select class="form-control custom-select" placeholder="Sila pilih jantina pengguna" formControlName="gender">
                                        <option value="" selected hidden disabled>Sila pilih jantina pengguna</option>
                                        <option value="ML">Lelaki</option>
                                        <option value="FM">Perempuan</option>
                                    </select>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
                                    <label class="form-control-label">Jabatan</label>
                                    <select class="form-control custom-select" placeholder="Sila pilih jabatan pengguna" formControlName="department">
                                        <option value="" selected hidden disabled>Sila pilih jabatan pengguna</option>
                                        <option value="KW">Kawalan Bangunan</option>
                                        <option value="KN">Kejuruteraan</option>
                                        <option value="KK">Kesihatan, Persekitaraan dan Pelesenan</option>
                                        <option value="PB">Perbendaharaan</option>
                                        <option value="PP">Penilaian dan Pengurusan Harta</option>
                                        <option value="UU">Undang-undang</option>
                                        <option value="KP">Khidmat Pengurusan</option>
                                        <option value="KM">Khidmat Kemasyarakatan</option>
                                        <option value="KW">Konservasi Warisan</option>
                                        <option value="PB">Pesuruhjaya Bangunan</option>
                                        <option value="PG">Penguatkuasaan</option>
                                        <option value="PN">Perkhidmatan Perbandaran</option>
                                        <option value="LL">Lanskap</option>
                                        <option value="BP">Bahagian Pelesenan</option>
                                        <option value="UD">Unit Audit Dalaman</option>
                                        <option value="UO">Unit OSC</option>
                                        <option value="OT">Lain-lain</option>
                                    </select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="form-control-label">No. Tel</label>
									<input class="form-control" type="text" placeholder="Sila taip no. tel pengguna" formControlName="mobile">
								</div>
							</div>
						</div>
						<div class="mt-2 text-right">
							<button type="button" class="btn btn-custom-blue" (click)="register()"><i class="fas fa-save text-white mr-2"></i>Tambah</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>