<ngx-loading-bar height="4px"></ngx-loading-bar>
<div class="header py-7 py-lg-8" style="background-color: #346dc2; z-index: 1">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>
</div>

<div class="main-content d-flex align-items-center" style="background-color: #ebebeb; z-index: 2">
    <div class="container mt--9 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="logo-box">
							<img class="logo" [src]="imgLogo">
                        </div>

                        <div class="logo-box text-center mt--4">
                            <h2 class="text-black mb-0">MAJLIS BANDARAYA PULAU PINANG</h2>
                            <h2 class="text-black mb-0" (click)="cheat()">eLatihan</h2>
                            <h2 class="text-black mb-0">Sistem Pengurusan Latihan</h2>
						</div>
                        
                        <div *ngIf="!isFirstLogin">
                            <form [formGroup]="loginForm">
                                <div class="form-group mb-3" [ngClass]="{ focused: focusUsername === true }">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-primary">
                                                <i class="fas fa-envelope text-white"></i>
                                            </span>
                                        </div>
                                        <input 
                                            class="form-control" 
                                            placeholder="NRIC" 
                                            formControlName="username"
                                            (focus)="focusUsername = true" 
                                            (blur)="focusUsername = false"
                                        />
                                    </div>
                                    <ng-container *ngFor="let message of loginFormMessages.username">
                                        <div *ngIf="loginForm.get('username').hasError(message.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
    
                                <div class="form-group" [ngClass]="{ focused: focusPassword === true }">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-primary">
                                                <i class="fas fa-lock text-white"></i>
                                            </span>
                                        </div>
                                        <input 
                                            class="form-control"
                                            placeholder="Kata laluan"
                                            type="password"
                                            formControlName="password"
                                            (focus)="focusPassword = true" 
                                            (blur)="focusPassword = false"
                                        />
                                    </div>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let message of loginFormMessages.password">
                                            <div *ngIf="loginForm.get('password').hasError(message.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                                <p class="error-message"><span>{{ message.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-6">
                                    </div>
                                    <div class="col-6 text-right">
                                        <label class="forget-label" (click)="navigatePage('forgot')">
                                            <span>Terlupa kata laluan</span>
                                        </label>
                                    </div>
                                </div>
                            </form>
    
                            <div class="text-center">
                                <button 
                                    type="button" 
                                    class="btn btn-primary my-4 btn-block" 
                                    (click)="login()"
                                    [disabled]="!loginForm.valid"
                                >
                                    Log masuk
                                </button>

                                <button 
                                    type="button" 
                                    class="btn btn-outline-warm-blue my-4 btn-block" 
                                    (click)="viewManual()"
                                >
                                    Lihat manual
                                </button>
                            </div>
                        </div>

                        <div *ngIf="isFirstLogin">
                            <form [formGroup]="passwordForm">
                                <div class="form-group">
                                    <label class="form-control-label">Kata Laluan Baru <span class="text-warning">*</span></label>
                                    <input class="form-control" formControlName="new_password1" placeholder="Kata laluan">

                                    <ng-container *ngFor="let message of passwordFormMessages.new_password1">
                                        <div *ngIf="passwordForm.get('new_password1').hasError(message.type) && (passwordForm.get('new_password1').dirty || passwordForm.get('new_password1').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Ulang Kata Laluan Baru <span class="text-warning">*</span></label>
                                    <input class="form-control" formControlName="new_password2" placeholder="Ulang kata laluan">

                                    <ng-container *ngFor="let message of passwordFormMessages.new_password2">
                                        <div *ngIf="passwordForm.get('new_password2').hasError(message.type) && (passwordForm.get('new_password2').dirty || passwordForm.get('new_password2').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </form>

                            <form [formGroup]="securityForm">
                                <div class="form-group">
                                    <label class="form-control-label">Soalan Sekuriti <span class="text-warning">*</span></label>
                                    <select class="form-control custom-select" formControlName="question">
                                        <option *ngFor="let question of questions" value="{{question.id}}">{{question.question}}</option>
                                    </select>

                                    <ng-container *ngFor="let message of securityFormMessages.question">
                                        <div *ngIf="securityForm.get('question').hasError(message.type) && (securityForm.get('question').dirty || securityForm.get('question').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Jawapan Sekuriti <span class="text-warning">*</span></label>
                                    <input class="form-control" formControlName="answer" placeholder="Jawapan Sekuriti">

                                    <ng-container *ngFor="let message of securityFormMessages.answer">
                                        <div *ngIf="securityForm.get('answer').hasError(message.type) && (securityForm.get('answer').dirty || securityForm.get('answer').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </form>

                            <div class="text-center">
                                <button 
                                    type="button" 
                                    class="btn btn-warm-blue my-4 btn-block" 
                                    (click)="setupSecurity()"
                                    [disabled]="!passwordForm.valid && !securityForm.valid"
                                >
                                    Selesai
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col">
            <div class="copyright text-center text-muted">
                &copy; {{ currentDate | date: "yyyy" }}
                Hak cipta terpelihara © 
                <a
                    href="https://elatihan.mbpp.gov.my"
                    class="font-weight-bold ml-1"
                    target="_blank"
                >
                    Majlis Bandaraya Pulau Pinang
                </a>
            </div>
            <div class="copyright text-center text-muted">
                Paparan terbaik menggunakan Chrome versi 69 dan ke atas, 
                Firefox versi 61 dan ke atas, Safari versi 11 dan ke atas,
                Opera versi 54 dan ke atas, dan Edge versi 16 dan ke atas.
            </div>
        </div>
    </div>
</footer>