<ngx-loading-bar height="4px"></ngx-loading-bar>
<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Permohonan Latihan Jabatan</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-chalkboard-teacher text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
						<div class="col my-auto">
							<h4 class="m-0">Senarai Permohonan Latihan Jabatan</h4>
						</div>

						<div class="col text-right">
							<button
								class="btn btn-sm btn-warm-blue"
								(click)="exportExcel()"
							>
								Cetak
							</button>
						</div>
					</div>
                </div>
                <div class="dataTables_wrapper py-4">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="dataTables_length" id="datatable_length">
								<label>
									Lihat
									<select 
										name="datatable_length" 
										aria-controls="datatable" 
										class="form-control form-control-sm custom-select custom-select-sm"
										(change)="entriesChange($event)">
										<option value="5" [selected]="tableEntries == 5">5</option>
										<option value="10" [selected]="tableEntries == 10">10</option>
										<option value="15" [selected]="tableEntries == 15">15</option>
										<option value="-1" [selected]="tableEntries == -1">Semua</option>
									</select>
									rekod
								</label>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div id="datatable_filter" class="dataTables_filter">
								<label>
									<input 
										type="search"
										class="form-control form-control-sm"
										placeholder="Cari tajuk latihan"
										aria-controls="datatable"
										(keyup)="filterTable($event, 'name')"
									/>
								</label>
							</div>
						</div>
					</div>
		
					<div class="pt-4 text-center" *ngIf="isEmpty">
						<img [src]="iconEmpty" class="error-icon">
						<p>Tiada rekod dijumpai</p>
					</div>
			
					<ngx-datatable 
						class="bootstrap selection-cell" 
						[columnMode]="'force'" 
						[headerHeight]="50" 
						[footerHeight]="50"
						[rowHeight]="'auto'"
						[limit]="tableEntries != -1 ? tableEntries : undefined" 
						[rows]="tableTemp"
						[messages]="tableMessages"
						(activate)="onActivate($event)"
						*ngIf="!isEmpty"
                        [scrollbarH]="true"
					>
                        <ngx-datatable-column
                            prop="applicant.full_name"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Nama Kakitangan</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.applicant?.full_name}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            prop="applicant.username"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Kad Pengenalan</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.applicant?.username}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
							prop="applicant.section_code"
						>
							<ng-template ngx-datatable-header-template>
								<span>Bahagian</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
                                <ng-container *ngFor="let section of sections">
                                    <span *ngIf="section.value == row.applicant?.section_code">{{section.text}}</span>
                                </ng-container>
							</ng-template>
						</ngx-datatable-column>

                        <ngx-datatable-column
							prop="applicant.salary_code"
						>
							<ng-template ngx-datatable-header-template>
								<span>Kod Gaji</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.applicant?.salary_code}}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							prop="training.title"
						>
							<ng-template ngx-datatable-header-template>
								<span>Latihan</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training?.title}}
							</ng-template>
						</ngx-datatable-column>
			
						<ngx-datatable-column
							prop="training.start_date"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tarikh Mula</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training?.start_date | date: 'd/M/y'}}
							</ng-template>
						</ngx-datatable-column>
			
						<ngx-datatable-column
							prop="training.end_date"
						>
							<ng-template ngx-datatable-header-template>
								<span>Tarikh Tamat</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.training?.end_date | date: 'd/M/y'}}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Aktiviti</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="btn-group dropdown" dropdown>
                                    <button type="button" class="btn btn-sm btn-warm-blue dropdown-toggle" dropdownToggle>Aktiviti</button>
                                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="view(row)">Lihat</a>
                                        <a class="dropdown-item" (click)="approveApplication(row)">Terima</a>
                                    </div>
                                </div>
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="table" id="summaryTable" #summaryTable [hidden]="isSummaryTableHidden">
	<table class="table table-responsive table-flush">
		<thead>
			<tr>
				<th>Nama Kakitangan</th>
				<th>Kad Pengenalan</th>
				<th>Bahagian</th>
				<th>Kod Gaji</th>
				<th>Latihan</th>
				<th>Tarikh Mula</th>
				<th>Tarikh Tamat</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let row of tableRows">
				<td>
					{{row.applicant?.full_name}}
				</td>
				<td>
					{{row.applicant?.username}}
				</td>
				<td>
					<ng-container *ngFor="let section of sections">
						<span *ngIf="section.value == row.applicant?.section_code">{{section.text}}</span>
					</ng-container>
				</td>
				<td>
					{{row.applicant?.salary_code}}
				</td>
				<td>
					{{row.training?.title}}
				</td>
				<td>
					{{row.training?.start_date | date: 'd/M/y'}}
				</td>
				<td>
					{{row.training?.end_date | date: 'd/M/y'}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
