<ngx-loading-bar height="4px"></ngx-loading-bar>
<nav id="navbar-main" class="navbar navbar-horizontal navbar-main navbar-expand-lg navbar-dark bg-warm-blue navbar-brand-home">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="assets/img/logo/mbpp-logo.png" />
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbar-collapse"
            aria-expanded="false" 
            aria-label="Toggle navigation" 
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" 
            aria-controls="collapseBasic"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse navbar-custom-collapse collapse" id="collapseBasic" [collapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/home']">
                            <img src="assets/img/logo/mbpp-logo.png" />
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <a [routerLink]="['/auth/login']" class="btn btn-neutral btn-icon">
                            <span class="nav-link-inner--text"> Log Masuk</span>
                        </a>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h2 class="text-white mb-0">MAJLIS BANDARAYA PULAU PINANG</h2>
                    <h4 class="text-white font-weight-light mt-0">
                        Sistem Pengurusan Latihan
                    </h4>
                </li>
            </ul>

            <hr class="d-lg-none" />

            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item d-none d-lg-block ml-lg-4">
                    <a [routerLink]="['/auth/login']" class="btn btn-neutral btn-icon">
                        <span class="nav-link-inner--text"> Log Masuk</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content">
    <section class="py-5 section-nucleo-icons bg-white overflow-hidden auth-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="display-3 text-dark">Senarai Kursus</h2>
                    <p class="text-dark font-weight-500">
                        Anda boleh melihat dan
                        mendaftarkan diri anda
                        jika berminat, anda juga perlu untuk log masuk bagi mendaftarkan diri anda ke kursus yang
                        diminati.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3" *ngFor="let training of trainings; let i=index">
                    <ng-container *ngIf="training.status != 'SL' && i<4">
                        <div class="card bg-secondary">
                            <div class="card-header bg-white text-center p-3">
                                <h4 class="m-0">{{training.title}}</h4>
                                <h5 class="m-0 text-light">{{training.start_date | date: 'd/M/y'}} - {{training.end_date | date: 'd/M/y'}}</h5>
                            </div>
                            <img src="assets/img/default/teamwork.jpg">
                            <div class="card-body text-center">
                                <p>{{training.description}}</p>
                                <button type="button" class="btn btn-block btn-primary">Lihat</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</div>

<ng-template #modalDefault>
    <div class=" modal-header">
        <h6 class=" modal-title" id="modal-title-default">
            Informasi Kursus
        </h6>

        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="closeDefaultModal()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody class="list">
                    <tr>
                        <th scope="row">Tajuk</th>
                        <td>: {{tempSelectedTraining.title}}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>: {{tempSelectedTraining.description}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tempat</th>
                        <td>: {{tempSelectedTraining.venue}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tarikh Mula</th>
                        <td>: {{tempSelectedTraining.start_date}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Waktu Mula</th>
                        <td>: {{tempSelectedTraining.start_time}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Waktu Tamat</th>
                        <td>: {{tempSelectedTraining.end_time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class=" modal-footer">
        <button class=" btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="closeDefaultModal()">
            Tutup
        </button>
        <button class=" btn btn-primary" type="button">
            Daftar
        </button>
    </div>
</ng-template>
