.auth-content {
    background-image: url("../../../assets/img/default/home_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover; 
    // height: 90vh;
    // overflow: hidden;
}

.card {
    height: 22rem;
    max-height: 22rem;
    .card-header {
        // height: 10rem;
        // max-height: 10rem;
        margin-top: auto;
        margin-bottom: auto;
    } 
    img {
        height: 15rem;
        max-height: 15vh;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}