.auth-content {
    background-image: url("../../../assets/img/default/home.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
    height: 100vh;
    overflow: hidden;
}