<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Profil</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-user-circle text-white"></i></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <a href="javascript:void(0)">
                        <img
                            *ngIf="!currentUserProfilePicture"
                            class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                            src="assets/img/default/avatar.png"
                            style="width: 140px;"
                        />
                        <img
                            *ngIf="currentUserProfilePicture"
                            class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                            src="currentUserProfilePicture"
                            style="width: 140px;"
                        />
                    </a>
                    <div class="form-group">
                        <label class="form-control-label">
                            Nama penuh
                        </label>
                        <input class="form-control" type="text" [value]="currentUserFullName" disabled />
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    No. Kakitangan
                                </label>
                                <input class="form-control" type="text" value="00128" disabled />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    NRIC
                                </label>
                                <input class="form-control" type="text" [value]="currentUserNRIC" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">
                            Jabatan
                        </label>
                        <input class="form-control" type="text" [value]="currentUserDepartment" disabled />
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Jawatan
                                </label>
                                <input class="form-control" type="text" [value]="currentUserPosition" disabled />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Gred
                                </label>
                                <input class="form-control" type="text" [value]="currentUserGrade" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    No. tel.
                                </label>
                                <input class="form-control" type="text" [value]="currentUserPhone" disabled />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Emel
                                </label>
                                <input class="form-control" type="text" [value]="currentUserEmail" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Tukar kata laluan</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="newPasswordForm">
                        <div class="form-group">
                            <label class="form-control-group">Kata laluan baru</label>
                            <input class="form-control" placeholder="Masukkan kata laluan baru" type="password" formControlName="new_password1">
                        </div>
                        <div class="form-group">
                            <label class="form-control-group">Ulang kata laluan baru</label>
                            <input class="form-control" placeholder="Ulang kata laluan semasa" type="password" formControlName="new_password2">
                        </div>
                        <button type="button" class="btn btn-primary btn-block" (click)="changePassword()">
                            Tukar kata laluan
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>