<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard-teacher text-white"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Tambah Baru</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0 text-dark">Penambahan Kursus Baru</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="trainingForm">
                        <mat-horizontal-stepper 
                            [linear]="isLinear" 
                            [labelPosition]="labelPosition" 
                            #stepper
                            [disableRipple]="isDisableRipple">
                            <mat-step>
                                <ng-template matStepLabel>Klasifikasi</ng-template>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Jenis Anjuran
                                                    </label>
                                                    <select class="custom-select" formControlName="organiser_type" (change)="onOrganiserTypeChange()">
                                                        <option selected hidden value="">Sila pilih jenis anjuran</option>
                                                        <option *ngFor="let organiser of organiserTypeOptns" value="{{organiser.value}}">
                                                            {{organiser.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.organiser_type">
                                                    <div class="error-message" *ngIf="trainingForm.get('organiser_type').hasError(validation.type) && (trainingForm.get('organiser_type').dirty || trainingForm.get('organiser_type').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Penganjur Kursus
                                                    </label>
                                                    <select class="custom-select" formControlName="organiser" *ngIf="organiserValue != 'MBPP'">
                                                        <option selected hidden value="">Sila pilih penganjur kursus</option>
                                                        <option *ngFor="let organisation of organisations" value="{{organisation.id}}">
                                                            {{organisation.name}}
                                                        </option>
                                                    </select>
                                                    <select class="custom-select" *ngIf="organiserValue == 'MBPP'" disabled>
                                                        <option selected hidden value="">Majlis Bandaraya Pulau Pinang</option>
                                                    </select>
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.organiser">
                                                    <div class="error-message" *ngIf="trainingForm.get('organiser').hasError(validation.type) && (trainingForm.get('organiser').dirty || trainingForm.get('organiser').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Jenis Kursus
                                                    </label>
                                                    <select class="custom-select" formControlName="course_type">
                                                        <option selected hidden value="">Sila pilih jenis kursus</option>
                                                        <option *ngFor="let course of courseOptns" value="{{course.value}}">
                                                            {{course.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.course_type">
                                                    <div class="error-message" *ngIf="trainingForm.get('course_type').hasError(validation.type) && (trainingForm.get('course_type').dirty || trainingForm.get('course_type').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                       Jenis Kumpulan Sasaran
                                                    </label>
                                                    <select class="custom-select" formControlName="target_group_type">
                                                        <option selected hidden value="">Sila pilih jenis kumpulan sasaran</option>
                                                        <option *ngFor="let target of targetGroupTypeOptns" value="{{target.value}}">{{target.text}}</option>
                                                    </select>
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.target_group_type">
                                                    <div class="error-message" *ngIf="trainingForm.get('target_group_type').hasError(validation.type) && (trainingForm.get('target_group_type').dirty || trainingForm.get('target_group_type').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="col" *ngIf="trainingForm.value.target_group_type == 'TB'">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Kumpulan Sasaran
                                                    </label>
                                                    <select class="custom-select" formControlName="target_group">
                                                        <option selected hidden value="">Sila pilih kumpulan sasaran</option>
                                                        <option value="SM">Semua</option>
                                                        <option value="JB">Jabatan</option>
                                                    </select>
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.target_group">
                                                    <div class="error-message" *ngIf="trainingForm.get('target_group').hasError(validation.type) && (trainingForm.get('target_group').dirty || trainingForm.get('target_group').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="col" *ngIf="trainingForm.value.target_group_type == 'TH'">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Kumpulan Sasaran
                                                    </label>
                                                    <div class="form-group">
                                                        <label class="form-control-label">
                                                            Kumpulan Sasaran
                                                        </label>
                                                        <select class="custom-select" formControlName="target_group">
                                                            <option selected hidden value="">Sila pilih kumpulan sasaran</option>
                                                            <option value="GD">Gred</option>
                                                            <option value="JW">Jawatan</option>
                                                            <option value="SP">Skim Perkhidmatan</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.target_group">
                                                    <div class="error-message" *ngIf="trainingForm.get('target_group').hasError(validation.type) && (trainingForm.get('target_group').dirty || trainingForm.get('target_group').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Kategori Kursus
                                                    </label>
                                                    <select class="custom-select" formControlName="category" (change)="onCategoryChange()">
                                                        <option selected hidden value="">Sila pilih kategori kursus</option>
                                                        <option disabled value="KA">(KA) Fungsional/Teknikal/Bidang Kerja</option>
                                                        <option disabled value="KA1">(KA1) Kejuruteraan</option>
                                                        <option value="KA1/1">(KA1/1) Awam</option>
                                                        <option value="KA1/2">(KA1/2) Geoteknik & Kerja Tanah</option>
                                                        <option value="KA1/3">(KA1/3) Mekanikal</option>
                                                        <option value="KA1/4">(KA1/4) Elektrik/Elektronik</option>
                                                        <option disabled value="KA2">(KA2) Arkitek, Bangunan & Ukur Bahan</option>
                                                        <option value="KA2/1">(KA2/1) Projek dan Penyelenggaraan</option>
                                                        <option value="KA2/2">(KA2/2) Kawalan Bangunan</option>
                                                        <option value="KA2/3">(KA2/3) Wacana/Seminar</option>
                                                        <option value="KA3">(KA3) Kesihatan Persekitaran</option>
                                                        <option value="KA3/1">(KA3/1) Alam Sekitar</option>
                                                        <option value="KA3/2">(KA3/2) Latihan Makmal</option>
                                                        <option value="KA3/3">(KA3/3) Perubatan dan Kesihatan Awam</option>
                                                        <option disabled value="KA4">(KA4) Perancangan Bandar</option>
                                                        <option value="KA4/1">(KA4/1) Akta/garis panduan/prosedur perancangan bandar</option>
                                                        <option value="KA4/2">(KA4/2) Seminar/forum</option>
                                                        <option disabled value="KA5">(KA5) Lanskap & Arborikultur</option>
                                                        <option value="KA5/1">(KA5/1) Lanskap</option>
                                                        <option value="KA5/2">(KA5/2) Arborikultur</option>
                                                        <option disabled value="KA6">(KA6) Pengurusan</option>
                                                        <option value="KA6/1">(KA6/1) Pentadbiran Pejabat</option>
                                                        <option value="KA6/2">(KA6/2) Pengurusan Sumber Manusia</option>
                                                        <option value="KA6/3">(KA6/3) Kemahiran</option>
                                                        <option value="KA6/4">(KA6/4) Pemantapan Kerjaya</option>
                                                        <option value="KA6/5">(KA6/5) Halatuju Majlis</option>
                                                        <option value="KA6/6">(KA6/6) Pengurusan Kualiti</option>
                                                        <option value="KA6/7">(KA6/7) Komunikasi</option>
                                                        <option value="KA6/8">(KA6/8) Polisi dan Dasar</option>
                                                        <option value="KA6/9">(KA6/9) Bahasa</option>
                                                        <option disabled value="KB">(KB) Kursus Induksi Umum & Khusus/Proram Transformasi Minda (PTM)</option>
                                                        <option value="KB1">(KB1) Program Transformasi Minda (PTM)</option>
                                                        <option value="KB2">(KB2) Orientasi</option>
                                                        <option disabled value="KC">(KC) Perundangan & Penguatkuasaan</option>
                                                        <option value="KC1">(KC1) Bahagian Perundangan</option>
                                                        <option value="KC2">(KC2) Bahagian Penguatkuasaan</option>
                                                        <option disabled value="KD">(KD) Keselamatan & Kesihatan Pekerjaan</option>
                                                        <option value="KD1">(KD1) Akta Keselamatan dan Kesihatan 1994</option>
                                                        <option value="KD2">(KD2) Kesihatan Pekerjaan</option>
                                                        <option value="KD3">(KD3) Keselamatan Pekerjaan</option>
                                                        <option disabled value="KE">(KE) Kewangan & Harta</option>
                                                        <option value="KE1">(KE1) Penilaian</option>
                                                        <option value="KE2">(KE2) Pengurusan Harta</option>
                                                        <option value="KE3">(KE3) Pesuruhjaya Bangunan</option>
                                                        <option value="KE4">(KE4) Kewangan</option>
                                                        <option value="KE5">(KE5) Audit</option>
                                                        <option disabled value="KF">(KF) Teknologi Maklumat</option>
                                                        <option value="KF1">(KF1) Automasi Pejabat</option>
                                                        <option value="KF2">(KF2) Pembangunan Aplikasi dan Laman Web</option>
                                                        <option value="KF3">(KF3) Multimedia, Rekabentuk Grafik dan Penyuntingan Video</option>
                                                        <option value="KF4">(KF4) Teknikal ICT</option>
                                                        <option value="KF5">(KF5) Pengurusan ICT</option>
                                                        <option disabled value="KG">(KG) Umum</option>
                                                        <option value="KG1">(KG1) Motivasi</option>
                                                        <option value="KG2">(KG2) Nilai-nilai Murni</option>
                                                        <option value="KG3">(KG3) Integriti</option>
                                                        <option value="KG4">(KG4) Kepimpinan & Pengukuhan Berpasukan</option>
                                                        <option value="KG4">(KG4) Kaunseling</option>
                                                        <option disabled value="KH">(KH) Peperiksaan</option>
                                                        <option disabled value="KH1">(KH1) Pengesahan Dalam Perkhidmatan</option>
                                                        <option value="KH1/1">(KH1/1) Agensi Kerajaan</option>
                                                        <option value="KH1/2">(KH1/2) Subjek Jabatan</option>
                                                        <option value="KH2">(KH2) Peningkatan Secara Lantikan</option>
                                                        <option value="KH3">(KH3) Faedah Kewangan</option>
        
                                                    </select>
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.target_group">
                                                    <div class="error-message" *ngIf="trainingForm.get('target_group').hasError(validation.type) && (trainingForm.get('target_group').dirty || trainingForm.get('target_group').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Kod Kursus
                                                    </label>
                                                    <input 
                                                        class="form-control form-custom-input" 
                                                        placeholder="Sila taip kod kursus" 
                                                        [value]="auto_course_code"
                                                        formControlName="course_code"
                                                        type="text">
                                                </div>
                                                <ng-container *ngFor="let validation of validationMessages.course_code">
                                                    <div class="error-message" *ngIf="trainingForm.get('course_code').hasError(validation.type) && (trainingForm.get('course_code').dirty || trainingForm.get('course_code').touched)">
                                                      <p class="error-text"><span>*{{ validation.message }}</span></p>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right mt-3">
                                    <button class="btn btn-success" matStepperNext>Seterusnya</button>
                                </div>
                            </mat-step>

                            <!-- Step Butiran -->
                            <mat-step>
                                <ng-template matStepLabel>Butiran</ng-template>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Tajuk Kursus
                                            </label>
                                            <input 
                                                class="form-control form-custom-input" 
                                                placeholder="Sila taip tajuk kursus" 
                                                formControlName="title"
                                                type="text">
                                        </div>

                                        <ng-container *ngFor="let validation of validationMessages.title">
                                            <div class="error-message" *ngIf="trainingForm.get('title').hasError(validation.type) && (trainingForm.get('title').dirty || trainingForm.get('title').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Objektif Kursus
                                            </label>
                                            <textarea class="form-control form-custom-textarea" placeholder="Sila taip objektif kursus" formControlName="description"></textarea>
                                        </div>
                                        
                                        <ng-container *ngFor="let validation of validationMessages.description">
                                            <div class="error-message" *ngIf="trainingForm.get('description').hasError(validation.type) && (trainingForm.get('description').dirty || trainingForm.get('description').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Kos
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        RM
                                                    </span>
                                                </div>
                                                <input 
                                                    class="form-control" 
                                                    placeholder="Sila taip kos" 
                                                    formControlName="cost" 
                                                    type="number">
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.cost">
                                            <div class="error-message" *ngIf="trainingForm.get('cost').hasError(validation.type) && (trainingForm.get('cost').dirty || trainingForm.get('cost').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Jabatan
                                            </label>
                                            <select class="custom-select" formControlName="department">
                                                <option hidden selected value="">Sila pilih jabatan</option>
                                                <option *ngFor="let department of departmentTypes" value="{{department.value}}">
                                                    {{department.text}}
                                                </option>
                                            </select>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.department">
                                            <div class="error-message" *ngIf="trainingForm.get('department').hasError(validation.type) && (trainingForm.get('department').dirty || trainingForm.get('department').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                                            <label class="custom-file-label" for="customFileLang">Sila pilih brosur</label>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="row">
                                    <div class="col">
                                        <label class="form-control-label">
                                            Pengangkutan
                                        </label>
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Ya</label>
                                          </div>
                                          <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Tidak</label>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="text-right mt-3">
                                    <button class="btn btn-danger" matStepperPrevious>Sebelum</button>
                                    <button class="btn btn-success" matStepperNext>Seterusnya</button>
                                </div>
                            </mat-step>
                            <!-- Step Jadual -->
                            <mat-step>
                                <ng-template matStepLabel>Jadual</ng-template>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Tarikh Mula
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input 
                                                    type="text" 
                                                    placeholder="Pilih tarikh mula" 
                                                    class="form-control"
                                                    bsDatepicker 
                                                    formControlName="start_date" 
                                                    [bsValue]="datePickerValue"
                                                    [bsConfig]="datePickerConfig" >
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.start_date">
                                            <div class="error-message" *ngIf="trainingForm.get('start_date').hasError(validation.type) && (trainingForm.get('start_date').dirty || trainingForm.get('start_date').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Waktu Mula
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-clock"></i>
                                                    </span>
                                                </div>
                                                <input 
                                                    class=" form-control" 
                                                    id="example-time-input" 
                                                    type="time"
                                                    placeholder="10:30:00" 
                                                    formControlName="start_time" />
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.start_time">
                                            <div class="error-message" *ngIf="trainingForm.get('start_time').hasError(validation.type) && (trainingForm.get('start_time').dirty || trainingForm.get('start_time').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Tarikh Tamat
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input 
                                                    type="text" 
                                                    placeholder="Pilih tarikh tamat" 
                                                    class="form-control"
                                                    bsDatepicker 
                                                    formControlName="end_date" 
                                                    [bsValue]="datePickerValue"
                                                    [bsConfig]="datePickerConfig">
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.end_date">
                                            <div class="error-message" *ngIf="trainingForm.get('end_date').hasError(validation.type) && (trainingForm.get('end_date').dirty || trainingForm.get('end_date').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Waktu Tamat
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-clock"></i>
                                                    </span>
                                                </div>
                                                <input 
                                                    class=" form-control" 
                                                    id="example-time-input" 
                                                    type="time"
                                                    placeholder="10:30:00" 
                                                    formControlName="end_time"/>
                                            </div>
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.end_time">
                                            <div class="error-message" *ngIf="trainingForm.get('end_time').hasError(validation.type) && (trainingForm.get('end_time').dirty || trainingForm.get('end_time').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Tempat
                                            </label>
                                            <input 
                                                class="form-control form-custom-input"
                                                placeholder="Sila taip tempat kursus" 
                                                formControlName="venue">
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.venue">
                                            <div class="error-message" *ngIf="trainingForm.get('venue').hasError(validation.type) && (trainingForm.get('venue').dirty || trainingForm.get('venue').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Alamat
                                            </label>
                                            <input 
                                                class="form-control form-custom-input"
                                                placeholder="Sila taip alamat tempat kursus" 
                                                formControlName="address">
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.address">
                                            <div class="error-message" *ngIf="trainingForm.get('address').hasError(validation.type) && (trainingForm.get('address').dirty || trainingForm.get('address').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Bilangan Peserta
                                            </label>
                                            <input 
                                                class="form-control form-custom-input"
                                                placeholder="Sila taip bilangan peserta" 
                                                formControlName="max_participant"
                                                type="number">
                                        </div>
                                        <ng-container *ngFor="let validation of validationMessages.max_participant">
                                            <div class="error-message" *ngIf="trainingForm.get('max_participant').hasError(validation.type) && (trainingForm.get('max_participant').dirty || trainingForm.get('max_participant').touched)">
                                              <p class="error-text"><span>*{{ validation.message }}</span></p>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Fasilitator
                                            </label>
                                            <input 
                                                class="form-control form-custom-input"
                                                placeholder="Sila taip fasilitator" 
                                                formControlName="fasilitator">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Penceramah
                                            </label>
                                            <input 
                                                class="form-control form-custom-input"
                                                placeholder="Sila taip nama penceramah" 
                                             >
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Agensi
                                            </label>
                                            <input 
                                                class="form-control form-custom-input"
                                                placeholder="Sila taip agensi penceramah"
                                            >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="form-control-label">Nota</label>
                                        <div class="custom-file">
                                            <input
                                                class="custom-file-input"
                                                id="customFileLang"
                                                lang="en"
                                                type="file"
                                                formControlName="attachment"
                                            />
                            
                                            <label class="custom-file-label" for="customFileLang">
                                              Pilih nota
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right mt-2">
                                    <button class="btn btn-danger" matStepperPrevious>Sebelum</button>
                                    <button class="btn btn-success" matStepperNext>Seterusnya</button>
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Siap</ng-template>
                                Sila tekan hantar sekiranya anda pasti dengan informasi yang telah diisi.
                                <div class="text-right">
                                    <button class="btn btn-danger" matStepperPrevious>Sebelum</button>
                                    <button class="btn btn-success" (click)="confirmSubmit()">Hantar</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>