<ngx-loading-bar></ngx-loading-bar>
<div class="main-content auth-bg-warm-blue d-flex align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5 col-md-7">
				<div class="card bg-secondary border-0 mb-0">
					<div class=" card-body px-lg-5 py-lg-5">
						<div class="logo-box">
                            <img class="logo" [src]="imgLogo">
                            <h6 class="h4 text-primary mt-3 mb-0">
                                SISTEM eLATIHAN
                            </h6>
						</div>
						
						<form [formGroup]="resetForm">
							<div class="form-group" [ngClass]="{ focused: focusEmail === true }">
								<div class="input-group input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text bg-primary">
											<i class="far fa-id-card text-white"></i>
										</span>
									</div>
									<input 
										class="form-control text-dark" 
										placeholder="NRIC"
										(focus)="focusEmail = true" 
										(blur)="focusEmail = false"
										formControlName="email"
									/>
								</div>
								<div class="validation-errors">
                                    <ng-container *ngFor="let message of resetFormMessages.email">
                                        <div *ngIf="resetForm.get('email').hasError(message.type) && (resetForm.get('email').dirty || resetForm.get('email').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
							</div>
						</form>

						<form [formGroup]="securityForm">
							<div class="form-group">
								<div class="input-group input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text bg-primary">
											<i class="fas fa-question-circle text-white"></i>
										</span>
									</div>
									<select 
										class="form-control custom-select text-dark"  
										formControlName="question"
									>
										<option selected disabled value="">Sila pilih soalan sekuriti</option>
										<option *ngFor="let question of questions" value="{{question.text}}">{{question.text}}</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="input-group input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text bg-primary">
											<i class="fas fa-align-justify text-white"></i>
										</span>
									</div>
									<input 
										class="form-control text-dark" 
										placeholder="Jawapan" 
										formControlName="answer"
									/>
								</div>
							</div>
						</form>

						<div class="text-center">
							<button type="button" class="btn btn-primary my-4" (click)="reset()">
								Reset kata laluan
							</button>
						</div>

						<div class="row">
							<div class="col text-center">
								<button type="button" class="btn btn-outline-primary btn-sm" (click)="navigatePage('login')">
									<i class="fas fa-chevron-left"></i> 
									Kembali
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>