::ng-deep .material-icons {
    font-family: 'Material Icons' !important;
}

::ng-deep .mat-step-header:hover{
    background-color: transparent;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}