<ngx-loading-bar height="4px"></ngx-loading-bar>
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Pengurusan  <span (click)="checkForm()">Latihan</span></h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-chalkboard-teacher text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a
                        class="btn btn-sm btn-warm-blue text-white" 
                        (click)="openModal(modalAdd)"
                    > 
                        Tambah Penganjur 
                    </a>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="m-0">Tambah Latihan</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="trainingForm">
                        <mat-horizontal-stepper 
                            [linear]="isLinear" 
                            [labelPosition]="labelPosition"
                            [disableRipple]="isDisableRipple"
                            #stepper
                        >
                            <mat-step>
                                <ng-template matStepLabel>Klasifikasi</ng-template>
                                <h6 class="heading-small text-muted mb-4">Klasifikasi Latihan</h6>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Jenis Penganjur <span class="text-warning">*</span></label>
                                            <!-- organiser_type -->
                                            <select class="form-control custom-select" formControlName="organiser_type" (change)="onChangeOrganiserType($event.target.value)">
                                                <option *ngFor="let choice of organiserChoices" value="{{choice.value}}">{{choice.text}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Penganjur <span class="text-warning">*</span></label>
                                            <!-- organiser -->
                                            <select class="form-control custom-select" formControlName="organiser" (change)="onChangeOrganiser($event.target.value)">
                                                <option *ngFor="let organisation of organisations" value="{{organisation.id}}">{{organisation.shortname}} - {{organisation.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Jenis Latihan <span class="text-warning">*</span></label>
                                            <!-- course_type -->
                                            <select class="form-control custom-select" formControlName="course_type">
                                                <option *ngFor="let choice of courseTypeChoices" value="{{choice.value}}">{{choice.text}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Kaedah Latihan <span class="text-warning">*</span></label>
                                            <!-- course_type -->
                                            <select class="form-control custom-select" formControlName="method">
                                                <option *ngFor="let choice of methodChoices" value="{{choice.value}}">{{choice.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Anjuran Latihan <span class="text-warning">*</span></label>
                                            <!-- course_type -->
                                            <select class="form-control custom-select" formControlName="country">
                                                <option *ngFor="let choice of countryChoices" value="{{choice.value}}">{{choice.text}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Domain </label>
                                            <!-- course_type -->
                                            <select class="form-control custom-select" formControlName="domain">
                                                <option *ngFor="let domain of domains" value="{{domain.id}}">{{domain.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4" />
                                <h6 class="heading-small text-muted mb-4">Klasifikasi Sasaran</h6>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Jenis Sasaran <span class="text-warning">*</span></label>
                                            <!-- target_group_type -->
                                            <select class="form-control custom-select" formControlName="target_group_type" (change)="onChangeTargetType($event.target.value)">
                                                <option *ngFor="let choice of targetGroupTypeChoices" value="{{choice.value}}">{{choice.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Kumpulan Sasaran <span class="text-warning">*</span></label>
                                    <!-- target_group -->
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kumpulanD" formControlName="is_group_KP_A">
                                                <label class="custom-control-label" for="kumpulanD">Kumpulan Pelaksana 1 (Gred 19 - 40)</label>
                                            </div>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kumpulanF" formControlName="is_group_KP_B">
                                                <label class="custom-control-label" for="kumpulanF">Kumpulan Pelaksana 2 (Gred 11 - 18)</label>
                                            </div>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kumpulanE" formControlName="is_group_KP_C">
                                                <label class="custom-control-label" for="kumpulanE">Kumpulan Pelaksana 2 (Gred 1 - 10)</label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kumpulanA" formControlName="is_group_KPP_A">
                                                <label class="custom-control-label" for="kumpulanA">Kumpulan Pengurusan dan Professional (Gred 48 ke atas)</label>
                                            </div>
    
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kumpulanB" formControlName="is_group_KPP_B">
                                                <label class="custom-control-label" for="kumpulanB">Kumpulan Pengurusan dan Professional (Gred 44)</label>
                                            </div>
    
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kumpulanC" formControlName="is_group_KPP_C">
                                                <label class="custom-control-label" for="kumpulanC">Kumpulan Pengurusan dan Professional (Gred 41)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Jabatan Sasaran <span class="text-warning">*</span></label>
                                    <!-- department -->
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatan_DatukBandar" formControlName="is_department_PDB">
                                                <label class="custom-control-label" for="jabatan_DatukBandar">Pejabat Datuk Bandar</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatan_UndangUndang" formControlName="is_department_UUU">
                                                <label class="custom-control-label" for="jabatan_UndangUndang">Unit Undang-undang</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanAuditDalam" formControlName="is_department_UAD">
                                                <label class="custom-control-label" for="jabatanAuditDalam">Unit Audit Dalaman</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPenyelarasanPembangunan" formControlName="is_department_UPP">
                                                <label class="custom-control-label" for="jabatanPenyelarasanPembangunan">Unit Penyelarasan Pembangunan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPusatSehenti" formControlName="is_department_UPS">
                                                <label class="custom-control-label" for="jabatanPusatSehenti">Unit Pusat Sehenti</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanKhidmatPengurusan" formControlName="is_department_JKP">
                                                <label class="custom-control-label" for="jabatanKhidmatPengurusan">Jabatan Khidmat Pengurusan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPerbendaharaan" formControlName="is_department_JPD">
                                                <label class="custom-control-label" for="jabatanPerbendaharaan">Jabatan Perbendaharaan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPenilaianPengurusanHarta" formControlName="is_department_JPH">
                                                <label class="custom-control-label" for="jabatanPenilaianPengurusanHarta">Jabatan Penilaian dan Pengurusan Harta</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPerancanganPembangunan" formControlName="is_department_JPP">
                                                <label class="custom-control-label" for="jabatanPerancanganPembangunan">Jabatan Perancangan Pembangunan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanKejuruteraan" formControlName="is_department_JKJ">
                                                <label class="custom-control-label" for="jabatanKejuruteraan">Jabatan Kejuruteraan</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-sm-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanKawalanBangunan" formControlName="is_department_JKB">
                                                <label class="custom-control-label" for="jabatanKawalanBangunan">Jabatan Kawalan Bangunan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanKesihatanAwam" formControlName="is_department_JKEA">
                                                <label class="custom-control-label" for="jabatanKesihatanAwam">Bahagian Kesihatan Awam</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPelesenan" formControlName="is_department_JKEB">
                                                <label class="custom-control-label" for="jabatanPelesenan">Bahagian Pelesenan</label>
                                            </div>
                                            
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPerkhidmatanPerbandaraan" formControlName="is_department_JPR">
                                                <label class="custom-control-label" for="jabatanPerkhidmatanPerbandaraan">Jabatan Perkhidmatan Perbandaraan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanKhidmatKemasyarakatan" formControlName="is_department_JKK">
                                                <label class="custom-control-label" for="jabatanKhidmatKemasyarakatan">Jabatan Khidmat Kemasyarakatan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanKonservasiWarisan" formControlName="is_department_JKW">
                                                <label class="custom-control-label" for="jabatanKonservasiWarisan">KJabatan Konservasi Warisan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanLanskap" formControlName="is_department_JLK">
                                                <label class="custom-control-label" for="jabatanLanskap">Jabatan Lanskap</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPenguatkuasaan" formControlName="is_department_JPU">
                                                <label class="custom-control-label" for="jabatanPenguatkuasaan">Jabatan Penguatkuasaan</label>
                                            </div>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="jabatanPesuruhjayaBangunan" formControlName="is_department_JPB">
                                                <label class="custom-control-label" for="jabatanPesuruhjayaBangunan">Jabatan Pesuruhjaya Bangunan</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <button class="btn btn-warm-blue" matStepperNext>Seterusnya</button>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Butiran</ng-template>
                                <!-- <h6 class="heading-small text-muted mb-4"></h6> -->

                                <div class="form-group">
                                    <label class="form-control-label">Tajuk <span class="text-warning">*</span></label>
                                    <input class="form-control" formControlName="title">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Deskripsi <span class="text-warning">*</span></label>
                                    <textarea class="form-control" formControlName="description"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Jenis Teras <span class="text-warning">*</span></label>
                                            <select 
                                                class="form-control custom-select" 
                                                [(ngModel)]="coresParentTemp" 
                                                [ngModelOptions]="{standalone: true}" 
                                                (change)="onChangeCoreParent($event.target.value)"
                                            >
                                                <option value="GN">GENERIK</option>
                                                <option value="FN">FUNGSIONAL</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Teras <span class="text-warning">*</span></label>
                                            <select class="form-control custom-select" formControlName="core">
                                                <option *ngFor="let core of coresTemp" value="{{core.id}}">
                                                    {{core.child}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Kod Kursus  <span class="text-warning">*akan dijana secara automatik</span></label>
                                            <input class="form-control" formControlName="course_code">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Jumlah Peserta <span class="text-warning">*</span></label>
                                            <input class="form-control" formControlName="max_participant" type="number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Lokasi <span class="text-warning">*</span></label>
                                            <input class="form-control" formControlName="venue">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Alamat Lokasi <span class="text-warning">*</span></label>
                                            <input class="form-control" formControlName="address">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Kos <span class="text-warning">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary">
                                                        RM
                                                    </span>
                                                </div>
                                                <input class="form-control" formControlName="cost" type="number">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <button class="btn btn-outline-warm-blue" matStepperPrevious>Sebelum</button>
                                    <button class="btn btn-warm-blue" matStepperNext>Seterusnya</button>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Jadual</ng-template>
                                <!-- <hr class="my-4" /> -->
                                <h6 class="heading-small text-muted mb-4">Tarikh & Waktu</h6>

                                <div class="row">
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group">
                                            <label class="form-control-label">Tarikh Mula <span class="text-warning">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input 
                                                    type="text"
                                                    placeholder="12/12/2019"
                                                    class="form-control"
                                                    bsDatepicker
                                                    formControlName="start_date"
                                                    [minDate]="dateMinStart"
                                                    [bsValue]="dateStart"
                                                    [bsConfig]="dateConfig"
                                                >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Waktu Mula <span class="text-warning">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary">
                                                        <i class="far fa-clock"></i>
                                                    </span>
                                                </div>
                                                <input type="time" value="10:30:00" class="form-control" formControlName="start_time">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group">
                                            <label class="form-control-label">Tarikh Tamat <span class="text-warning">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input 
                                                    type="text"
                                                    placeholder="12/12/2019"
                                                    class="form-control"
                                                    bsDatepicker
                                                    formControlName="end_date"
                                                    [minDate]="dateMinEnd"
                                                    [bsValue]="dateEnd"
                                                    [bsConfig]="dateConfig"
                                                >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Waktu Tamat <span class="text-warning">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary">
                                                        <i class="far fa-clock"></i>
                                                    </span>
                                                </div>
                                                <input type="time" value="10:30:00" class="form-control" formControlName="end_time">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4" />
                                <h6 class="heading-small text-muted mb-4">Tambahan</h6>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Lampiran <span class="text-warning">*Format PDF sahaja, maksimum 5MB</span></label>
                                            <div class="custom-file">
                                                <input 
                                                    type="file" 
                                                    class="custom-file-input" 
                                                    id="lampiran" 
                                                    lang="en"
                                                    (change)="onFileChange($event, 'training')" 
                                                    accept=".pdf"
                                                    size="5"
                                                >
                                                <label class="custom-file-label" for="lampiran">Sila muat naik lampiran berkenaan</label>
                                              </div>

                                              <ng-container *ngIf="trainingForm.value['attachment']">
                                                <div>
                                                    <i 
                                                        class="fas fa-trash-alt text-warning mr-2"
                                                        placement="top" 
                                                        tooltip="Remove attachment"
                                                        (click)="removeFile('training')"
                                                    >
                                                    </i>
                                                    {{fileNameInformation}} [{{fileSizeInformation/1000000 | number: '1.2-2'}}MB]
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">
                                        <label class="form-control-label">Pengangkutan <span class="text-warning">*</span></label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input 
                                                    type="radio" 
                                                    id="transportationRadio1" 
                                                    name="transportation"
                                                    class="custom-control-input" 
                                                    [value]="true" 
                                                    formControlName="transportation"
                                                >
                                                <label class="custom-control-label" for="transportationRadio1">Ada</label>
                                              </div>
                                              <div class="custom-control custom-radio custom-control-inline">
                                                <input 
                                                    type="radio" 
                                                    id="transportationRadio2" 
                                                    name="transportation"
                                                    class="custom-control-input" 
                                                    [value]="false" 
                                                    formControlName="transportation"
                                                >
                                                <label class="custom-control-label" for="transportationRadio2">Tiada</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-7"></div>
                                    <div class="col-lg-6 col-5 text-right">
                                        <a
                                            class="btn btn-sm btn-warm-blue text-white" 
                                            (click)="addSpeaker()"
                                        > 
                                            Tambah Penceramah 
                                        </a>

                                        <a
                                            class="btn btn-sm btn-warm-blue text-white" 
                                            (click)="addFacilitator()"
                                        > 
                                            Tambah Fasilitator 
                                        </a>
                                    </div>
                                </div>

                                <form [formGroup]="trainerSpeakerForm">
                                    <div formArrayName="trainerSpeakerFormArray">
                                        <div 
                                            [formGroupName]="i"
                                            class="row"
                                            *ngFor="let ind of trainerSpeakerForm.get('trainerSpeakerFormArray')['controls']; let i = index"
                                        >
                                            <div class="col-lg-5 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-control-label">Nama Penceramah <span class="text-warning">*</span></label>
                                                    <input class="form-control" formControlName="name">
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-control-label">No. Telefon <span class="text-warning">*</span></label>
                                                    <input class="form-control" formControlName="phone">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-12">
                                                <button 
                                                    *ngIf="i != 0"
                                                    class="btn btn-warning btn-sm"
                                                    (click)="removeSpeaker(i)"
                                                    style="position: absolute; bottom: 1.5rem;"
                                                >
                                                    Buang
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <form [formGroup]="trainerFacilitatorForm">
                                    <div formArrayName="trainerFacilitatorFormArray">
                                        <div 
                                            [formGroupName]="i"
                                            class="row"
                                            *ngFor="let ind of trainerFacilitatorForm.get('trainerFacilitatorFormArray')['controls']; let i = index"
                                        >
                                            <div class="col-lg-5 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-control-label">Nama Fasilitator <span class="text-warning">*</span></label>
                                                    <input class="form-control" formControlName="name">
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-control-label">No. Telefon</label>
                                                    <input class="form-control" formControlName="phone">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-12">
                                                <button
                                                    *ngIf="i != 0"
                                                    class="btn btn-warning btn-sm"
                                                    (click)="removeFacilitator(i)"
                                                    style="position: absolute; bottom: 1.5rem;"
                                                >
                                                    Buang
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                                <div>
                                    <div class="text-lead">
                                        <span>*Wajib diisi</span>
                                    </div>
                                    <button class="btn btn-outline-warm-blue" matStepperPrevious>Sebelum</button>
                                    <button 
                                        class="btn btn-warm-blue" 
                                        (click)="confirm()"
                                        [disabled]="!trainingForm.valid"
                                    >
                                        Daftar
                                    </button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalAdd>
    <div class="modal-header bg-warm-blue">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Tambah organisasi
        </h6>

        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="organisationForm">
            <div class="form-group">
                <label class="form-control-label">Nama Organisasi <span class="text-warning">*</span></label>
                <input 
                    class="form-control" 
                    placeholder="Nama organisasi"
                    formControlName="name"
                >
            </div>

            <div class="form-group">
                <label class="form-control-label">Nama Pendek Organisasi <span class="text-warning">*</span></label>
                <input 
                    class="form-control" 
                    placeholder="Nama pendek organisasi"
                    formControlName="shortname"
                >
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button 
            class="btn btn-warm-blue"
            type="button"
            (click)="addOrganisation()"
            [disabled]="!organisationForm.valid"
        >
            Simpan
        </button>

        <button
            class="btn btn-outline-warm-blue ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Tutup
        </button>
    </div>
</ng-template>