<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Penilaian Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard text-white"></i></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="col">
                        <h4 class="mb-0">Penilaian</h4>
                    </div>
                    <div class="col-auto">
                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Tajuk Kursus</label>
                        <input class="form-control" disabled value="Kursus PHP">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh</label>
                                <input class="form-control" disabled value="12 Januari 2020">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tempat</label>
                                <input class="form-control" disabled value="Dewan MBPP">
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            1. Sejauh manakah anda fikir objektif kursus kursus/latihan ini telah dicapai?
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian11" name="penilaian1" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian11">Lemah</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian12" name="penilaian1" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian12">Sederhana</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian13" name="penilaian1" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian13">Memuaskan</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian14" name="penilaian1" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian14">Bagus</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian15" name="penilaian1" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian15">Cemerlang</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            2. Adakah kursus/latihan ini berkaitan untuk anda menjalankan tugas-tugas seharian?
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian21" name="penilaian2" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian21">Kurang Berkaitan</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian22" name="penilaian2" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian22">Berkaitan</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian23" name="penilaian2" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian23">Sangat Berkaitan</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            3. Apakah nilai-nilai positif yang anda perolehi dari kursus/latihan ini dapat membantu anda ketika balik bertugas?
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian31" name="penilaian3" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian31">TIdak Membantu</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian32" name="penilaian3" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian32">Kurang Membantu</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian33" name="penilaian3" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian33">Membantu</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            4. Adakah kemudahan penginapan kursus/latihan yang disediakan sesusai dan selesa?
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian41" name="penilaian4" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian41">Lemah</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian42" name="penilaian4" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian42">Sederhana</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian43" name="penilaian4" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian43">Memuaskan</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian44" name="penilaian4" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian44">Bagus</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian45" name="penilaian4" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian45">Cemerlang</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            5. Adakah kemudahan bilik kuliah kursus/latihan yang disediakan sesusai dan selesa?
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian51" name="penilaian5" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian51">Lemah</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian52" name="penilaian5" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian52">Sederhana</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian53" name="penilaian5" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian53">Memuaskan</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian54" name="penilaian5" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian54">Bagus</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian55" name="penilaian5" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian55">Cemerlang</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            4. Adakah kemudahan jamuan makan kursus/latihan yang disediakan sesusai dan selesa?
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian61" name="penilaian6" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian61">Lemah</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian62" name="penilaian6" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian62">Sederhana</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian63" name="penilaian6" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian63">Memuaskan</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian64" name="penilaian6" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian64">Bagus</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="penilaian65" name="penilaian6" class="custom-control-input">
                                        <label class="custom-control-label" for="penilaian65">Cemerlang</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            7. Apakah komen anda tentang kursus ini secara keseluruhan? (Nyatakan jika ada)
                            <div class="form-group">
                                <label class="form-control-label"></label>
                                <textarea class="form-control" placeholder="Nyatakan"></textarea>
                            </div>
                        </li>
                        <li class="list-group-item">
                            8. Apakah cadangan anda dalam memperbaiki kursus ini? (Nyatakan jika ada)
                            <div class="form-group">
                                <label class="form-control-label"></label>
                                <textarea class="form-control" placeholder="Nyatakan"></textarea>
                            </div>
                        </li>
                    </ul>

                    <div class="text-right">
                        <button 
                            type="button" 
                            class="btn btn-custom-blue"
                            (click)="send()"
                        >
                            Hantar penilaian
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>