<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Kehadiran Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard text-white"></i></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="mb-0">Surat Sebab Tidak Hadir</h4>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Sebab tidak hadir</label>
                        <textarea class="form-control" placeholder="Nyatakan sebab tidak hadir"></textarea>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                                  <label class="custom-file-label" for="customFileLang">Muat naik lampiran</label>
                                </div>
                              </form>
                        </div>
                    </div>
                    <div class="text-right mt-2">
                        <button 
                            type="button" 
                            class="btn btn-custom-blue" 
                            (click)="showNoti()"
                        >
                            Hantar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Kehadiran</h4>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Klik untuk scan QR kehadiran</button>
                </div>
            </div>
        </div>
    </div>
</div>