<ngx-loading-bar height="4px"></ngx-loading-bar>
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Profil</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-chart-bar text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Profil
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    
				</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                <img alt="Image placeholder" class="card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a>
                                <img class="rounded-circle" src="assets/img/default/avatar.png" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <!-- <a class="btn btn-sm btn-info mr-4" href="javascript:void(0)">
                            Connect
                        </a>

                        <a class="btn btn-sm btn-default float-right" href="javascript:void(0)">
                            Message
                        </a> -->
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <!-- <div>
                                    <span class="heading"> 22 </span>

                                    <span class="description"> Friends </span>
                                </div>

                                <div>
                                    <span class="heading"> 10 </span>

                                    <span class="description"> Photos </span>
                                </div>

                                <div>
                                    <span class="heading"> 89 </span>

                                    <span class="description"> Comments </span>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <h5 class="h3">
                            {{user?.full_name}}<span class="font-weight-light"> , {{user?.age}} </span>
                        </h5>

                        <div class="h5 font-weight-300">
                            <i class="fas fa-building mr-2"> </i> {{user?.department}}
                        </div>

                        <div class="h5 mt-4">
                            <i class="fas fa-briefcase mr-2"> </i> {{user?.position}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Profil</h3>
                        </div>
                        <div class="col-auto text-right">
                            <button
                                class="btn btn-warm-blue btn-sm btn-icon btn-3" 
                                (click)="navigatePage('/global/settings')"
                            > 
                                <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                                <span class="btn-inner--text">Kemaskini Profil</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form>
                        <h6 class="heading-small text-muted mb-4">Informasi diri</h6>

                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Nama
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Name"
                                            type="text" 
                                            [value]="user?.full_name"
                                            disabled 
                                        />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            NRIC
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="NRIC"
                                            [value]="user?.nric"
                                            disabled
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4" />

                        <h6 class="heading-small text-muted mb-4">Informasi Penjawatan</h6>

                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            No. Kakitangan
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="No. kakitangan"
                                            type="text" 
                                            [value]="user?.staff_id"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Taraf Perkhidmatan
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Taraf perkhidmatan"
                                            type="text" 
                                            [value]="user?.service_status"
                                            disabled
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Tarikh Lantikan
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Tarikh lantikan"
                                            type="text" 
                                            [value]="user?.appointed_at | date: 'd/M/y'"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Taraf Sah Perkhidmatan
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Taraf sah perkhidmatan"
                                            type="text" 
                                            [value]="user?.confirmed_at | date: 'd/M/y'"
                                            disabled
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Jawatan
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Jawatan"
                                            type="text" 
                                            [value]="user?.position"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Jabatan
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Jabatan"
                                            type="text" 
                                            [value]="user?.department"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Bahagian
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Bahagian"
                                            type="text" 
                                            [value]="user?.section"
                                            disabled
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Gred
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Gred"
                                            type="text" 
                                            [value]="user?.grade_code"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Kod Gaji
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Kod gaji"
                                            type="text" 
                                            [value]="user?.salary_code"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Peranan
                                        </label>

                                        <input 
                                            class="form-control"
                                            placeholder="Peranan"
                                            type="text" 
                                            [value]="user?.role"
                                            disabled
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>