<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Kursus</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chalkboard-teacher text-white"></i></a>
                            </li> 
                            <li aria-current="page" class=" breadcrumb-item active">
                                Laporan
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-custom-white">Cetak</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4 class="m-0">Informasi Kursus</h4>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Tajuk</label>
                        <input class="form-control form-control-sm" value="Kursus Leadership" disabled>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Mula</label>
                                <input class="form-control form-control-sm" value="13 Ogos 2019" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh Tamat</label>
                                <input class="form-control form-control-sm" value="14 Ogos 2019" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Tempat</label>
                        <input class="form-control form-control-sm" value="Olive Hotel, Pulau Pinang" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Penceramah</label>
                        <input class="form-control form-control-sm" value="Dr. Hairul Mansor" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Peserta Hadir</label>
                        <input class="form-control form-control-sm" value="27 peserta" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Penilaian Kursus</h4>
                </div>
                <div class="card-body">
                    <h4 class="m-0 text-muted">Pencapaian Objektif Kursus</h4>
                    <div id="chartObjektif" style="width: 100%; height: 300px"></div>
                    <h4 class="mb-0 mt-3 text-muted">Kaitan Dengan Tugas Harian</h4>
                    <div id="chartKaitan" style="width: 100%; height: 300px"></div>
                    <h4 class="mb-0 mt-3 text-muted">Kemudahan Fasiliti & Makanan</h4>
                    <div id="chartKemudahan" style="width: 100%; height: 300px"></div>
                    <h4 class="mb-0 mt-3 text-muted">Penilaian Terhadap Tenaga Pengajar</h4>
                    <div id="chartPengajar" style="width: 100%; height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
</div>