.card-img {
    width: 100%;
}

.bg-warm-blue {
    background: #364eb9;
}

.btn {
    border-radius: 1rem;
}

thead th {
    background: #364eb9;
    color: #fff;
}

.btn-test {
    border-radius: 0  !important;
    overflow: hidden !important;
}

// Background topbar tunggu mbpp