<div class="header bg-warm-blue pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!--Page title-->
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Laporan</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"><i class="fas fa-chart-bar text-white"></i></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Carian Laporan</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Jenis Laporan</label>
                        <select class="custom-select">
                            <option selected>Penilaian Keberkesanan Kursus</option>
                            <option>Kehadiran Kursus</option>
                            <option>Kursus Tahunan yang Dijalankan </option>
                            <option>Prestasi Penganjuran Kursus</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="getPDF()">Cari</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="m-0">Penilaian Keberkesanan Kursus</h4>
                                </div>
                                <div class="col-auto">
                                    <div dropdown class="dropdown no-caret">
                                        <button id="button-basic" dropdownToggle type="button"
                                            class="btn btn-sm btn-custom-blue mr-0 dropdown-toggle"
                                            aria-controls="dropdown-basic">
                                            <i class=" fas fa-ellipsis-h"> </i>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                            *dropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0)" (click)="getPDF()">
                                                <i class="fas fa-file-pdf mr-2"></i>Export PDF
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="fas fa-print mr-1"></i>Print
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="chartKeberkesanan" style="width: 100%; height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="m-0">Prestasi Latihan Semasa</h4>
                                </div>
                                <div class="col-auto">
                                    <div dropdown class="dropdown no-caret">
                                        <button id="button-basic" dropdownToggle type="button"
                                            class="btn btn-sm btn-custom-blue mr-0 dropdown-toggle"
                                            aria-controls="dropdown-basic">
                                            <i class=" fas fa-ellipsis-h"> </i>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                            *dropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0)" (click)="getPDF()">
                                                <i class="fas fa-file-pdf mr-2"></i>Export PDF
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="fas fa-print mr-1"></i>Print
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="chartPrestasi" style="width: 100%; height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="m-0">Jumlah Pelaksanaan Kursus Tahunan</h4>
                                </div>
                                <div class="col-auto">
                                    <div dropdown class="dropdown no-caret">
                                        <button id="button-basic" dropdownToggle type="button"
                                            class="btn btn-sm btn-custom-blue mr-0 dropdown-toggle"
                                            aria-controls="dropdown-basic">
                                            <i class=" fas fa-ellipsis-h"> </i>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                            *dropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0)" (click)="getPDF()">
                                                <i class="fas fa-file-pdf mr-2"></i>Export PDF
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="fas fa-print mr-1"></i>Print
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="chartTahunan" style="width: 100%; height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>