<div class="header bg-warm-blue pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-white d-inline-block mb-0">Pengurusan Log</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class=" fas fa-tasks"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-xl-12">
			<div class="card shadow">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col">
							<h4 class="mb-0 text-dark">Aktiviti Log</h4>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Email Pengguna</th>
                                <th scope="col">Aktiviti</th>
                                <th scope="col">Waktu Aktiviti</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">1.</th>
                                <td>latihan@prototype.com.my</td>
                                <td>Tambah Kursus</td>
                                <td>05/06/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">2.</th>
                                <td>latihan@prototype.com.my</td>
                                <td>Tambah Kursus</td>
                                <td>05/06/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">3.</th>
                                <td>latihan@prototype.com.my</td>
                                <td>Menyunting Kursus</td>
                                <td>05/06/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">4.</th>
                                <td>latihan@prototype.com.my</td>
                                <td>Tambah Kursus</td>
                                <td>04/06/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">5.</th>
                                <td>latihan@prototype.com.my</td>
                                <td>Menyunting Kursus</td>
                                <td>02/06/2020</td>
                            </tr>
                            <tr>
                                <th scope="row">6.</th>
                                <td>latihan@prototype.com.my</td>
                                <td>Tambah Kursus</td>
                                <td>01/06/2020</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>
</div>